%hr
%h3 Recent Contributors
%table.table.table-striped.table-condensed
  %thead
    %th=# Icon
    %th=# Username
    %th Name
    %th Location
    %th Pull Request
  %tbody
    - @pull_requests.each do |pull_request|
      - user = pull_request.user
      %tr
        %td
          %a{href: user.html_url}
            %img{src: user.avatar_url, height: '22', width: '22'}
        %td.text-nowrap
          %a{href: user.html_url} #{user.login}
          #{"(Owner)" if @repository.owner.login == user.login}
        %td.text-nowrap
          %strong= user.name if user.respond_to?(:name)
          - if user.respond_to?(:hireable) && user.hireable
            - tooltip_data = {toggle: 'tooltip', placement: 'top', title: 'Available for Hire'}
            %span.glyphicon.glyphicon-star-empty{'aria-hidden' => 'true', data: tooltip_data}
        %td= user.location if user.respond_to?(:location)
        %td
          %a{href: pull_request.html_url} #{pull_request.title}
