%h1
  %span.glyphicon.glyphicon-file{'aria-hidden' => 'true'}
  %a{href: @repository.owner.html_url, target: '_blank'} #{@repository.owner.login}
  \/
  %a{href: @repository.html_url, target: '_blank'} #{@repository.name}

%table.table.table-striped.table-condensed
  %thead
    %th
    %th
    %th Name
  %tbody
    - @contributors.each do |user|
      %tr
        %td
          %span.glyphicon.glyphicon-user{'aria-hidden' => 'true'}
        %td
          - is_owner = @repository.owner.login == user.login
          %a{href: user.html_url} #{user.login}
          #{"(Owner)" if is_owner}
        %td
          %strong #{user.name}
